.calendar {
  position: relative;
  top: 6vh;
}

.calendar__header {
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.275rem;
  font-weight: 500;
  position: fixed;
  background-color: #fff;
  padding: 2px 0px;
  z-index: 1;
  top: 39px;
  padding: 4px 0px;
}

.calendar__weekday {
  width: 54px;
}

.calendar__body {
  /* padding: 10vh 0px; */
  position: relative;
  top: 5vh;
  z-index: 0;
}

.calendar.bottom {
  max-height: 90vh;
  overflow: hidden;
}

.rounded-plus {
  width: 50px;
  height: 50px;
  background: #00bfff;
  margin: 1rem;
  border-radius: 50%;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.plus-text {
  font-size: 50px;
  position: absolute;
  bottom: -6px;
  color: #fff;
  right: -0.9px;
}
@media all and (max-width: 500px) and (min-width: 376px) {
  .calendar__weekday {
    width: 59px;
  }
}

@media all and (max-width: 700px) and (min-width: 500px) {
  .calendar__weekday {
    width: 14vw;
  }
}

@media all and (min-width: 700px) {
  .calendar__weekday {
    width: 101px;
  }
}
