@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* @import url("https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"); */

.App {
  /* background-color: rgba(1, 1, 1, 0.4); */
  max-width: 100%;
  max-height: 100vh;
}

.image__slider {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 0px 16px;

  z-index: 3;

  background-color: rgba(0, 0, 0, 0.85);

  height: 100vh;
  width: 100vw;
  min-height: 100%;
}

.image__slider::-webkit-scrollbar {
  display: none;
}

.image__showcase {
  margin: 1rem 0px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-width: 18rem;

  transition: transform 450ms ease;
}

.image__showcase .gradient {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  display: block;
  opacity: 1;
}

.image__showcase.vis {
  transform: scale(1);
}

.image__showcase.vis .gradient {
  transition: all 300ms ease;
  opacity: 0;
}

.image__showcase.invis {
  transform: scale(0.9);
  transition: all 800ms ease;
}

.image__showcase.invis .gradient {
  opacity: 1;
}

.image__container {
  overflow: hidden;
}

.image__content {
  padding: 0.5em 0.9em;
  text-align: left;
  font-family: "Roboto", sans-serif;
}

.content__text {
  margin-top: 5px;
}

.image__display {
  height: 440px;
  object-fit: contain;
}

.content_header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.rounded-text-container {
  display: flex;
  width: 20%;
  justify-content: space-between;
}

.stars-container span.stars {
  align-self: center;
  position: relative;
  bottom: -2px;
}

.content__date {
  margin-top: 5px;
}

.content__footer {
  text-align: center;
  font-size: 1.275em;
  font-weight: 700;
  padding-top: 4px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-top: 1.5px solid #111;
  width: 100%;
}

.button {
  border-radius: 50%;
  border: none;
  outline: none;
  background: rgba(75, 75, 75, 0.75);
  height: 34px;
  width: 33px;
  color: #fff;

  padding: 0 0 3px 0;
  margin: 0;
}

.button-text {
  position: relative;
  bottom: 10.65px;
  left: 0.1px;
  font-size: 38px;
  font-weight: 100;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.top-right {
  position: fixed;
  z-index: 2;
  top: 10px;
  right: 10px;
}
